<mat-toolbar class="bg-white">
  <input
    type="text"
    placeholder="Ingin sesuatu?"
    class="px-2 shadow rounded-pill border-1 border-dark"
    [matAutocomplete]="auto"
  />
  <button class="ms-2" mat-icon-button color="accent">
    <mat-icon>search</mat-icon>
  </button>
  <mat-autocomplete
    class="rounded-3"
    #auto="matAutocomplete"
    autoActiveFirstOption
  >
    <mat-option
      *ngFor="let autocomplete of autocompletes"
      [value]="autocomplete"
    >
      {{ autocomplete }}
    </mat-option>
  </mat-autocomplete>
</mat-toolbar>
