<div mdbDropdown class="dropdown profile-btn">
  <a
    class=""
    role="button"
    id="dropdownMenuLink"
    mdbDropdownToggle
    aria-expanded="false"
  >
    <div class="w-100">
      <img
        class="w-100 h-100"
        src="../../../assets/candramawa.png"
        alt="icon"
      />
    </div>
  </a>
  <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
