<div class="d-flex">
  <div>
    <input
      type="text"
      placeholder="Ingin sesuatu?"
      class="px-3 shadow rounded-pill border-1"
      [matAutocomplete]="auto"
      matInput
      #inputSearch
      [formControl]="searchForm"
      (keydown.enter)="search(inputSearch.value)"
    />
  </div>
  <button
    (click)="search(inputSearch.value)"
    class="ms-2"
    mat-icon-button
    color="accent"
  >
    <mat-icon>search</mat-icon>
  </button>
  <mat-autocomplete
    class="rounded-3"
    #auto="matAutocomplete"
    autoActiveFirstOption
  >
    <mat-optgroup
      *ngFor="let group of searchGroupOptions | async"
      [label]="group.group"
    >
      <mat-option
        *ngFor="let content of group.content"
        [value]="content.name"
        [routerLink]="content.url"
      >
        {{ content.name }}
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</div>
