@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

input {
  font-size: 14px;
  border-color: #eee;
  height: 48px;
  width: 100%;
}

@include media-breakpoint-up(md) {
  input {
    width: 400px;
  }
}
