@import "/node_modules/mdb-angular-ui-kit/assets/scss/bootstrap/functions";
@import "/node_modules/mdb-angular-ui-kit/assets/scss/bootstrap/variables";
@import "/node_modules/mdb-angular-ui-kit/assets/scss/bootstrap/mixins";

input {
  font-size: 14px;
  border-color: #eee;
  height: 48px;
  width: 100%;
}

@include media-breakpoint-up(md) {
  input {
    width: 400px;
  }
}
